# Composer files
composer.json
composer.lock
composer.dev.json
composer.dev.lock

# WordPress
/app/*
/config/*
/vendor
/assets
/drop-ins

# Core Config Files
!/_example
!/app/wp-config.php
!/drop-ins/.gitkeep

# Core Config Files
!/config/.env.example
!/config/.htaccess-standard
!/config/.htaccess-multisite
!/config/wp-constants.php
!/config/wp-env.php
!/config/wp-cli.yml