# Composer files
composer.json
composer.lock
composer.dev.json
composer.dev.lock

# WordPress
/app/*
/config/*
/vendor
/assets

# Core Config Files
!/_example
!/app/wp-config.php
!/config/.env.example
!/config/.htaccess-standard
!/config/constants.php
!/config/env-config.php
!/config/wp-cli.yml